body {
    background: #0d1117;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
  
  .bg-steel {
    background-color: #21262d;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #21262d;
    padding: 10px 0px;
    border: 2px solid #212229;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 28em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .col-md-8{
    margin-left: auto;
    margin-right: auto;
  }

  .mr-2{
    color:#ffffff;;
  }

  .comment{
    color:#ffffff;
    background: inherit;
    border-color: #ffffff;
  }

  .date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color:inherit;
}

.cursor:hover {
    color:#ffffff;
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}
.flex-row{
  background:inherit;
}
.comment-styling{
  color: white;
  font-size: 13px;
}

.white-writing{
  color: aliceblue;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  padding: 5px;
}
