  body {
    background: #0d1117;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }

  .bg-steel {
    background-color: #21262d;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #912338;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #21262d;
    padding: 10px 0px;
    border: 2px solid #212229;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 28em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: white;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .col-md-8{
    margin-left: auto;
    margin-right: auto;
  }

  .mr-2{
    color:#ffffff;;
  }

  .comment{
    color:#ffffff;
    background: inherit;
    border-color: #ffffff;
  }

  .date {
    font-size: 11px

  }

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color:inherit;
}

.cursor:hover {
    color:#ffffff;
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}
.flex-row{
  background:inherit;
}
.comment-styling{
  color: white;
  font-size: 13px;
}

.white-writing{
  color: aliceblue;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  padding: 5px;
}

.avatar{
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 25%;
}

.follow-button {
  color: white;
  text-decoration: none;
}

#follow-form {
  display:inline;
  margin:0px;
  padding:0px;
}
/*CSS for modal image box*/
/* #myImg {

  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


#myImg2 {

  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  float:left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  /* left: 400;
  top: 400; */
  text-align: center;
  width: 800px !important; /* Full width */
  height: 800px !important; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  text-align: center;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
} */

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.hfc{
  position:relative;
}
.hfc img{
  width:100%;
}


.close {
  position: absolute;
  float: left;
  /* top: 150px;
  right: 350px; */
  color: #f1f1f1;
  font-size: 400px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}