{% extends "layout.html" %}
{% block header %}{{ super () }}{% endblock %}
{% block content %}

<div>

    {% if username %}

        
    <div class = "white-writing"> <p class = "white-writing"><span style="font-size: x-large;"><strong>Name:</strong></span> &nbsp; {{ firstnamei }}  {{ lastnamei }}</p>
        
    <p class = "white-writing"><span style="font-size: x-large;"><strong>Username: </strong> </span> &nbsp; {{ usernamei }} </p></div>
        
        <br/>

        <div class="row">
            {% for post in postsi %}
            <div class="column">
                <img src="static/images/{{ post }}" alt="image" height="200px" width="200px">
            </div>
            {% endfor %}
        </div>

    {% else %}

        <p>
            <h2>You are not logged in</h2>
            <a href="/login">Click here to log in</a>
            <a href="/register">Click here to become our new Warrior</a>
        </p>

    {% endif %}
</div>

{% endblock %}
