<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% if color_theme == 'light' %}
    <link id="styling" rel="stylesheet" type="text/css" href="/static/light.css">
  {% else %}
    <link id="styling" rel="stylesheet" type="text/css" href="/static/main.css">
  {% endif %}
        <title>Concordiagram</title>
    
    
</head>
<body>
    {% block header%}
        <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
              <a href="/timeline"><img src="static/images/Logo.png" alt="Logo" width="195" height="35"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                </div>
                <!-- Navbar Right Side -->
                
                {% if username %}
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/posting">Post</a>
                  </div>
                {% else %}  
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/login">Post</a>
                  </div>
                {% endif %}

                
                {% if username %}
                    <div class="navbar-nav">
                      <li><a class="nav-link" href="/account"><span class="glyphicon glyphicon-user"></span>{{ username }} </a></li>
                    </div>  
                    <div class="navbar-nav">
                      <li>   <a class="nav-link" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign out </a></li>
                    </div>
                {% else %}      
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" href="/login">Login</a>
                    </div>
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" href="/register">Signup</a>
                    </div>
                {% endif %}
                {% if color_theme == 'light' %}
                  <form method="post" action="" style="display:inline">{{color_mode_form.color_mode(value='dark')}}{{ color_mode_form.hidden_tag() }}<button onclick="" type="submit" class="btn btn-dark">Dark</button></form>
                {% else %}
                  <form method="post" action="" style="display:inline">{{color_mode_form.color_mode(value='light')}}{{ color_mode_form.hidden_tag() }}<button onclick="" type="sbumit" class="btn btn-light">Light</button></form>
                {% endif %}
              </div>
            </div>
          </nav>
        </header>
    {% endblock %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/clear.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/swapdark.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/swaplight.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/modal.js') }}"></script>
</body>
</html>