{% extends "layout.html" %}
{% block content %}




  <head>
    <title>Post a picture</title>
  </head>
  <body>
    <h1 style="color: aliceblue;">Post a picture</h1>
    <form method="POST" action="" method="POST" >
      <p style="color: aliceblue;"><input type="file" name="file"></p>
        
      <p style="color: aliceblue; ;"><input type="text" value="Description" size="50" style="width: auto; height: auto;" > Write your Description</p>
      <p><input type="submit" value="Submit"></p>
      

    </form>


{% endblock content %}