{% extends "layout.html" %}
{% block header %}{{ super () }}{% endblock %}
{% block content %}




  <head>
    <title>Post a picture</title>
  </head>
  <body>
    <h1 style="color: #912338;">Post a picture</h1>
    <form method="POST" action="" enctype="multipart/form-data">

      <p style="color: #912338;">
        <input type="file" name="file" accept=".png,.jpg">
      </p>
        
      <p style="color: #912338;">
        <input type="text" name="description" placeholder="Description" size="50" style="width: auto; height: auto;" > Write your Description
      </p>

      <p>
        <input type="submit" value="Submit">
      </p>
      

    </form>


{% endblock content %}