{% extends "layout.html" %}
{% block header %}{{ super () }}{% endblock %}
{% block content %}
{% for post in posts %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h6 class="mr-2"><b>&nbsp;<a href="" class="follow-button">{{ post.author }}</a>&nbsp;</b>
        {% if username %}
          
            {% for account in accounts if account['username'] == username %}
                {% if post.author in account["following"] %}
                <form method="post" style="display:inline">{{unfollow_form.unfollow_user(value=post.author)}}{{ unfollow_form.hidden_tag() }}<input type="submit" class="btn btn-outline-primary btn-sm ml-1 shadow-none" value="Following"></form>
                  {% break %}
                {% endif %}
                {% if loop.last %}
                <form method="post" style="display:inline">{{follow_form.follow_user(value=post.author)}}{{ follow_form.hidden_tag() }}<input type="submit" class="btn btn-outline-primary btn-sm ml-1 shadow-none follow-form" value="Follow"></form>
                {% endif %}
            {% endfor %}
        
        {% endif %}

      <h5>{{ post['likers']|length }} Likes</h5>
    </div>
    <img src="static/images/{{ post.image }}" alt="image" width=100% height="400">
    <div class="article-metadata">
      <div class="d-flex flex-row fs-12 comment">
        {% if username not in post['likers'] %}
          <form method="post">{{ like_form.like_post_uuid(value=post['uuid']) }}{{ like_form.hidden_tag() }}<input type="submit" class="btn btn-outline-light btn-sm ml-1 shadow-none" value="Like"></form>
        {% else %}
          <form method="post">{{ unlike_form.unlike_post_uuid(value=post['uuid']) }}{{ unlike_form.hidden_tag() }}<input type="submit" class="btn btn-outline-danger btn-sm ml-1 shadow-none" value="Unlike"></form>
        {% endif %}
        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
        <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
      </div>

      <h6 class="mr-2"><b>&nbsp;&nbsp;&nbsp;{{ post.author }}</b>&nbsp;{{post.description}}</h6><p></p>
      {% for comment in post.comments %}
        <p class="comment-styling"><b>&nbsp;&nbsp;&nbsp;&nbsp;{{ comment['author'] }}</b>&nbsp;&nbsp;{{ comment['comment'] }}</p>
      {% endfor %}
      <form action="" method="post">
        <div class="comment">
          {% if username %}
              <div class="d-flex flex-row align-items-start">
                {{form.comment(class_ = "form-control ml-1 shadow-none textarea")}}
                {{form.parentID(value = post.uuid)}}
                {{form.author(value = username)}} 
                {{ form.hidden_tag() }}
              </div>
              <div class="mt-2 text-right">
                <input type="submit" class="btn btn-primary btn-sm shadow-none comment" value="Post comment">
                <input class="btn btn-outline-primary btn-sm ml-1 shadow-none comment" onClick="eraseText();" type="button"
                  value="Cancel">
              </div>
          {% else %}
              <div class="mt-2 text-center">
                  <a href="/login"><input class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button"
                value="Login to leave a comment"></a>
             </div>
          {% endif %}
            <small class="mr-2">{{ post.date_posted }}</small>
        </div>
      </form>
    </div>
  </div>
</article>
{% endfor %}
{% endblock content %}