{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h6 class="mr-2"><b>{{ post.author }}</b></h6>
    </div>
    <img src="static/images/{{ post.image }}" alt="image" width=100% height="400">
    <div class="article-metadata">
      <div class="d-flex flex-row fs-12 comment">
        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
        <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
      </div>
      <h6 class="mr-2"><b>{{ post.author }}</b>   {{post.caption}}</h6>
      <div class="comment">
      </div>
      <div class="comment">
        <div class="d-flex flex-row align-items-start"><textarea
            class="form-control ml-1 shadow-none textarea"></textarea>
        </div>
        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none comment" type="button">Post
            comment</button>
          <button class="btn btn-outline-primary btn-sm ml-1 shadow-none comment" type="button">Cancel</button>
        </div>
        <small class="mr-2">{{ post.date_posted }}</small>
      </div>
    </div>
  </div>
</article>
{% endfor %}
{% endblock content %}